
body{
  font-family: Lato;
}

.store-grid{
  height:600px;
  border-radius: 30px;
}
.product_img{
  border-radius:30px;
}
/* store*/
.store_prod_img{
  border-radius:25px;
}
.prod_img{
  height:255px;
  width:255px;
  background:#fff;
  border-radius: 25px;
}


/*.ui-view-container{
  position:relative;
}*/


/*[ui-view].ng-enter,
[ui-view].ng-leave{
  position:absolute;
  left:0;
  right:0;
  -webkit-transition: all .0.75 ease-in-out;
  -moz-transition: all .0.75 ease-in-out;
  -o-transition: all .0.75 ease-in-out;
  transition: all .0.75 ease-in-out;
}

[ui-view].ng-enter{
  opacity:0;
  -webkit-transform: scale3d(0.96, 0.96, 0.96);
  -moz-transform: scale3d(0.96, 0.96, 0.96);
  transform: scale3d(0.96, 0.96, 0.96);
}

[ui-view].ng-enter-active{
  opacity:1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
[ui-view].ng-leave{
  opacity:1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

[ui-view].ng-leave-active{
  opacity:0;
}*/



/*header*/
.shopping-header,
.intros{
  padding:100px 0;
  background-image:url('http://www.3dcart.com/2015/images/landing/marketing/xRemarketing-to-visitors.jpg.pagespeed.ic.DFB4zMI2_N.webp');
  color:#fff;
  letter-spacing:1px;
}
.header_wrapper{
  padding:40px 0;
}
.logo{
  margin-top:-15px;
}

/*PANEL*/
.shop-panel{
  background:rgba(63, 60, 66, 0.8);

  letter-spacing:1px;
  border:none;
}
.shop_panel_option{
  color:#111;
}
/* footer*/
.footer{
  background:#111;
  color:#ccc;
  padding:30px;
}
/* ALERTS*/

.main-alert{
  position:absolute;
  top:170px;
  left:5px;
  right:5px;
  max-width:400px;
  margin:0 auto;

}
.alert-hidden{
  visibility:hidden;
}

.help-block{
    font-size:15px;
    display: inline-block;
    padding: 8px;
    background: #d9534f;
}

/* icons*/
.fa-user,
.fa-shopping-cart,
.fa-user-plus,
.fa-power-off{
  margin-right:10px;
}

/*PRODUCT*/
.price {
    background-color:#6d3d3d;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-weight: 200;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    position: absolute;
    top: -40px;
    right: 20px;
}
.delete_product{
  width:95%;
  margin-top:15px;
}
.edit_prod{
  position: relative;
    left: 37px;
    bottom: 25px;
}

/* register */

.main_register{
  width: 50%;
  margin: 0 auto;
}

/*cart*/
.cart-btn{
  width:258px;
}
.cart-btn-bts{
  background:#485563;
  width:258px;
}
.cart-btn-bts:hover{
  background:#38434d;
}
.cart-details-wrapper{
  padding:25px;
}
.store-grid{
  height:550px;
}
.cart-img{
  height:200px;
}
.cart-item-details{
  // margin-top:30px;
}
.cart-item{
  margin: 25px 30px 0px;
  border: 1px solid black;
  border-radius: 25px;
  background: #4e5d6c;
}
.empty_cart{
  margin-left:315px;
  margin-top:25px;
}
.empty_orders{
  width: 50%;
  margin-top: 25px;
}
.cart_details{
  margin-top:30px;
  background:#4e5d6c;
  width:340px;
  border-radius: 10px;
}
/*store products*/
.go_cart_div{
  background:#2B3E50;
}
.go_cart_btn{
  display:block;
  cursor: pointer;
  padding: 8px;
    color: #fff;
}
.go_cart_btn:hover{
  text-decoration:none;
}


.add,
.subtract {
   background: #F65A5B ;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   font-size: 15px;
   line-height: 40px;
   min-width: 40px;
   height: 40px;
   border-radius: 50%;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
   user-select:none;
}
.add:hover,
.subtract:hover{
  color:#fff;
}

/*orders*/

.orders{
  margin-top:50px;
}
.order_title:hover{
  text-decoration:none;
}
.order_title{
  background:#2b3e50;
  padding: 3px 10px;
}
.order_anchor:focus{
  outline:none;
}
.order_anchor:hover{
  text-decoration:none;
}
.order_item_name{
  padding:5px 10px;
  display:inline-block;
}
.logged_admin{
  position:relative;
  left:20%;
}
.user_orders{
  margin-left:30px;
  width: 120px;
}
