body{
  font-family: Lato;
}
.store-grid{
  height:600px;
}
/* NAV*/
.mynav{
  background:#1abc9c;
  border:none;
  height:50px;
}




.navbar-inverse .navbar-nav>li>a{
  color:#fff;
}
.logo{
  height: 50px;
  margin-top: -15px;
  width: 50px;
}
/*header*/
.shopping-header{
  margin-top:50px;
  padding:100px 0;
  background-image:url('http://www.3dcart.com/2015/images/landing/marketing/xRemarketing-to-visitors.jpg.pagespeed.ic.DFB4zMI2_N.webp');
  color:#fff;
  letter-spacing:1px;
}
/*PANEL*/
.shop-panel{
  background:#1abc9c;

  letter-spacing:1px;
  border:none;
}
/* footer*/
.footer{
  background:#111;
  color:#ccc;
  padding:30px;
}
/* ALERTS*/

.main-alert{
  max-width:400px;
  margin:0 auto;
  background:darkgreen;
}
.alert-hidden{
  visibility:hidden;
}

.help-block{
  display: inline-block;
    padding: 5px;
    background: lightblue;
}
/* icons*/
.fa-user,
.fa-shopping-cart,
.fa-user-plus,
.fa-power-off{
  margin-right:10px;
}

/*PRODUCT*/
.price {
    background-color: #39D1B4;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-weight: 200;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    position: absolute;
    top: -40px;
    right: 20px;
}
