<div id="detailsModal">

          <div class="modal-header">
              <h3 class="modal-title" id="modal-title">Add product to store</h3>
          </div>
          <div class="modal-body" id="modal-body">
            <form class="form-horizontal" enctype="multipart/form-data" action="/upload">

              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" ng-model="vm.product.name" class="form-control" autofocus id="inputName3" placeholder="Product Name" >
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                  <input type="text" ng-model="vm.product.description"  class="form-control" id="inputEmail3" placeholder="Description" >
                </div>
              </div>

              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Price</label>
                <div class="col-sm-10">
                  <input type="text" ng-model="vm.product.price" class="form-control" autofocus id="inputName3" placeholder="Price" >
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Stock</label>
                <div class="col-sm-10">
                  <input type="text" ng-model="vm.product.stock" class="form-control" autofocus id="inputName3" placeholder="stock available" >
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Image</label>
                <div class="col-sm-10">
                  <h3>Upload queue</h3>
                <p>Queue length: {{ uploader.queue.length }}</p>

                <element ng-if="uploader">
                    <input type="file" nv-file-select uploader="uploader" fd-input class="myclass"/>
                </element>


                    <table class="table" style="background:#6b5c5c">
                   <thead>
                       <tr>
                           <th width="50%">Name</th>
                           <th ng-show="uploader.isHTML5">Size</th>
                           <th ng-show="uploader.isHTML5">Progress</th>
                           <th>Status</th>
                           <th>Actions</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr ng-repeat="item in uploader.queue">
                           <td><strong>{{ item.file.name }}</strong></td>
                           <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                           <td ng-show="uploader.isHTML5">
                               <div class="progress" style="margin-bottom: 0;">
                                   <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                               </div>
                           </td>
                           <td class="text-center">
                               <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                               <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                               <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                           </td>
                           <td nowrap >
                               <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                   <span class="glyphicon glyphicon-upload"></span> Upload
                               </button>
                               <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                   <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                               </button>
                               <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                   <span class="glyphicon glyphicon-trash"></span> Remove
                               </button>
                           </td>
                       </tr>
                   </tbody>
               </table>
                </div>
              </div>

              </form>
          </div><!--/modal-body-->
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-lg" ng-click="vm.addProd()">Ok</button>
          </div>

  </div><!--/updateModal-->
