<div class="container header_wrapper">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li ui-sref-active="active"><a ui-sref="main">Home</a></li>
      <li ui-sref-active="active"><a ui-sref="jobs">Jobs</a></li>
      <li data-ng-hide="vm.isAuthenticated()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
      <li data-ng-show="vm.isAuthenticated()"  ui-sref-active="active"><a ui-sref="logout">Logout</a></li>
      <div data-ng-include="'client/store/views/alert.html'"></div>
    </ul>
    <a class="navbar-brand" href="/"><img data-ng-src="{{ vm.logoPath}}" alt="Logo" class="logo"></a>
  </div>
</div>



  <div class="intros">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h4>This is your shopping cart, {{ vm.loggedUser }}</h4>
          <h5>Here you can edit the items, go back to the store, clear the cart or check out.</h5>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
    </div>

  </div><!--intros-->


             <div class="col-sm-6">
               <div class="col-sm-12 cart-item" ng-repeat="item in vm.cart.items">
                   <div class="col-sm-4">
                       <img ng-src="{{item.imageUrl}}" class="cart-img">
                   </div>
                   <div class="col-sm-8">
                     <div class="cart-item-details">
                       <h5>{{item.name}}</h5><br>
                       <p class="price">{{ item.price }} $</p>
                       <p class="item-detail-label ">Quantity : <input type="number" min="0" max="{{item.instock}}" ng-init="item.quantity=1" ng-model="item.quantity"value="{{item.quantity}}"/></p>
                       <p class="item-detail-label">Stock : {{ item.instock - item.quantity }}</p>
                       <p class="item-detail-label">Total Price : {{ item.quantity * item.price}} $</p>
                       <button class="btn btn-danger" ng-click="vm.removeItem(item)">Remove from cart</button>
                       <button class="btn btn-primary">View details</button>
                     </div>
                   </div>
               </div>
             </div>
               <div class="col-sm-5 col-sm-offset-1">
                 <h2><strong>Total items : {{ vm.itemCount().count }} items</strong></h2>
                 <h2><strong>Total cost : {{ vm.cartTotal().total }} $</strong> </h2><br>
                 <button class="btn btn-default cart-btn" data-ng-click="vm.backToStore()">Back to store </button><br>
                 <button class="btn btn-danger cart-btn" >Clear cart </button><br>
                 <button class="btn btn-primary cart-btn" >Checkout</button>
