<div class="container header_wrapper">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li ui-sref-active="active"><a ui-sref="main">Home</a></li>
      <li ui-sref-active="active"><a ui-sref="jobs">Jobs</a></li>
      <li data-ng-hide="vm.isAuthenticated()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
      <li data-ng-show="vm.isAuthenticated()"  ui-sref-active="active"><a ui-sref="logout">Logout</a></li>
    </ul>
    <a class="navbar-brand" href="/"><img data-ng-src="{{ vm.logoPath}}" alt="Logo" class="logo"></a>
  </div>
</div>

<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Mike's Shopping Center</h1>
										<h3><strong>Welcome ! </strong>Please Login below</h3>
										<!-- <div class="alert alert-{{ alert.type }} animated main-alert" data-ng-class="{'flipInY': alert.show, 'flipOutY':!alert.show,'alert-hidden': !alert.hasBeenShown 	}"><strong>{{alert.title}}</strong>{{alert.message}}</div> -->
										<div data-ng-include="'client/store/views/alert.html'">
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center main_register">

					<form class="form-horizontal" method="post" action="#" name="login">


						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" autofocus data-ng-model="vm.user.username" name="username" id="username"  placeholder="Enter your Username"required/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control"  data-ng-model="vm.user.password" name="password" id="password"  placeholder="Enter your Password"required/>
								</div>
							</div>
						</div>



						<div class="form-group ">
							<button type="button"data-ng-if="!isAuthenticated" data-ng-disabled="login.$invalid"  data-ng-click="vm.login()" class="btn btn-primary btn-lg btn-block login-button">Login</button><br>
              <a class="text-muted pull-right" ui-sref="register">Create account</a>
						</div>

					</form>
				</div>
			</div>
		</div>
