

<div class="container header_wrapper">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li ui-sref-active="active"><a ui-sref="main">Home</a></li>
      <li ui-sref-active="active"><a ui-sref="jobs">Jobs</a></li>
      <li data-ng-hide="vm.isAuthenticated()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
      <li data-ng-show="vm.isAuthenticated()"  ui-sref-active="active"><a ui-sref="logout">Logout</a></li>
      <!-- <li data-ng-show="vm.loggedUser">Logged in as: {{ vm.loggedUser}}</li> -->
    </ul>
    <a class="navbar-brand" href="/"><img data-ng-src="{{ vm.logoPath}}" alt="Logo" class="logo"></a>
  </div>
</div>

<div id="main">

  <header class="text-center shopping-header">
      <h1>Welcome to Mike's Shopping Store!</h1>
      <p>Please select the products and add them to your shopping cart.</p><br>
      <p>When you are done, click the shopping cart icon to review your order and check out.</p>
      <p>Logged in as : {{ vm.loggedUser || 'Visitor'}}</p>
      <div data-ng-include="'client/store/views/alert.html'"></div>
  </header>

  <!-- PANEL -->
  <div class="panel panel-default shop-panel">

    <div class="container">

           <div class="panel-body">
             <div class="row">
               <div class="col-sm-4">
                 <form>
                   <label for="search" class="shop-label">Search :</label>

                   <input ng-model="vm.query" placeholder="Search products"><br>
                   <label for="search" class="shop-label">Sort By :</label>
                   <select ng-model="vm.orderProp" class="shop_panel_option">

                     <option value="name">Alphabetical</option>
                     <option value="age">Newest</option>
                   </select>
                 </form>
               </div>
               <div class="col-sm-8">
                 <div class="pull-right">
                   <a data-ng-click="vm.goToCart()"><i class="fa fa-shopping-cart fa-2x shop-icon"></i><span>Shopping Cart( {{ vm.itemCount().count}} items - {{ vm.getTotal().total }} $)</span></a>
                 </div>
               </div>
             </div>
           </div>

         </div><!--container-->
    </div><!--panel-->


    <!-- SHOP -->
    <div class="container">
              <div class="row">
              <div class="col-sm-3 col-sm-offset-1 " data-ng-repeat="product in vm.products | filter:vm.query | orderBy:vm.orderProp">
                <div class="thumbnail store-grid">
                  <img ng-src="{{product.imageUrl}}" alt="{{phone.name}}"/>
                  <div class="caption">
                    <h4>{{product.name}}</h4>

                    <p class="price">{{product.price | currency}}</p>
                    <form id="product-form">
                      <span>Quantity</span> <br>

                        <input type="number" class="quantity-input" min="0" max="{{product.instock}}" ng-model="product.quantity" ng-init="product.quantity=1"/>
                        <p>Selected quantity: {{ product.quantity || 0 }} items</p>
                        <p>Total price :  {{ product.price * product.quantity || 0 }} $ </p>

                      <p><span><p>{{product.instock - product.quantity}} available in stock!</p></span></p>
                    </form>

                    <span><a class="btn btn-primary" role="button" ng-click="vm.addToCart(product);">Add to cart</a></span>
                    <span><a class="btn btn-primary" role="button" ng-click="vm.details(product)">View details</a></span>
                    <!-- <div class="alert alert-{{ alert.type }} animated main-alert" data-ng-class="{'flipInY': alert.show, 'flipOutY':!alert.show,'alert-hidden': !alert.hasBeenShown 	}"><strong>{{alert.title}}</strong>{{alert.message}}</div> -->
                  </div>
                </div>
              </div>

            </div>
    </div><!--/container-->



<footer class="text-center footer">
  <p><i class="fa fa-shopping-cart fa-2x shop-icon"></i>ShoppingCart</p>
</footer>

</div><!--/end main div-->
